@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@500&display=swap');
* {
    font-family: 'M PLUS 1', sans-serif;
}

body {
    background-color: white;
}

.sneakedimg {
    max-width:170px;
    padding-top:0px;
    margin-right: auto;
    margin-left: auto;
    display:block;
    width:100%;
}

.sneakedimglink {
    max-width:170px;
    display: block;
    margin: 0 auto;
    width: 50%;
    padding-top:20px;
}

.aboutlink {
    max-width:50px;
    padding-top:20px;
    padding-left:20px;
    text-decoration:none;
}

.aboutlinklink {
    text-decoration:none;
    color:black;
}

.abouttop {
    font-size:50px;
    text-align:center;
}

.aboutbottom {
    text-align:center;
    width: 500px;
    padding-left:100px;
}