@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
* {
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
}

.logotext {
    font-size: 72px;
    background: -webkit-linear-gradient(left, red , yellow);
    background: -o-linear-gradient(right, red, yellow);
    background: -moz-linear-gradient(right, red, yellow);
    background: linear-gradient(to right, red , yellow); 
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   text-align:center;
   padding:0%;s
}
.logotext2 {
    font-size: 20px;
    color:black;
    padding-top:200px;
    text-align:center;
}