@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100&display=swap');
* {
    font-family: 'M PLUS 1', sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
    background-image: url("https://assets.erlendb.com/uploads/sneakedimgAsset%203.svg");
    height:100vh;
    width:100%;
}

.sneakedimg {
    max-width:170px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.logotext {
    font-size: 72px;
    background: -webkit-linear-gradient(left, red , yellow);
    background: -o-linear-gradient(right, red, yellow);
    background: -moz-linear-gradient(right, red, yellow);
    background: linear-gradient(to right, red , yellow); 
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   text-align:center;
   padding-top:200px;
   font-weight:bold;
   margin:0%;
}
.logotext2 {
    font-size: 30px;
    color:white;
    text-align:center;
}